<HTML>
<HEAD>
<TITLE>Views</TITLE>
<META content="text/html; charset=utf-8" http-equiv=Content-Type>
<LINK HREF="../IBEHTMLDoc.css" type=text/css rel=STYLESHEET>
 
<xml>
<IBEHelp:Attr Name="ItemOrder" Value="3800"/>
</xml>
 
</HEAD>
<BODY>
<DIV ID="nsbanner">
  <DIV ID="bannerrow1">
    <TABLE CLASS="bannerparthead" CELLSPACING=0>
      <TR ID="hdr" VALIGN="middle">
        <TD CLASS="runninghead">"E:\Egemen\EB01\Dataserver\DATA\FERGANAGLOBAL\EB01DATA.GDB"</TD>
        <TD ALIGN="left" WIDTH="54px" NOWRAP>
          <A HREF="../Index.html"><IMG ALT="Previous topic" SRC="../Images/GoPrev.gif" BORDER="0"></A>
          <A HREF="../Index.html"><IMG ALT="Chapter index" SRC="../Images/GoIndex.gif" BORDER="0"></A>
          <A HREF="URUNRECETELISTESI.html"><IMG ALT="Next topic" SRC="../Images/GoNext.gif" BORDER="0"></A>
        </TD>
      </TR>
    </TABLE>
  </DIV>
  <DIV ID="TitleRow">
    <P CLASS="dtH1">Views</P>
  </DIV>
 </DIV>
<P CLASS="Base">&nbsp;</P>
<TABLE CLASS="dtArg" CELLSPACING="0">
  <TH WIDTH="1%"><P CLASS="Base2"><B>View</B></P>
  <TH><P CLASS="Base2"><B>Description</B></P>
  <TR>
    <TD><P CLASS="Base2"><A HREF="URUNRECETELISTESI.html">URUNRECETELISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VAMBALAJLISTESI.html">VAMBALAJLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VANALOTLISTESI.html">VANALOTLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VARACLISTESI.html">VARACLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VARAVERMEGRUPLISTESI.html">VARAVERMEGRUPLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VASAMAACIKLAMATIPILISTESI.html">VASAMAACIKLAMATIPILISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VASAMALISTESI.html">VASAMALISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VASAMATANITIMLISTESI.html">VASAMATANITIMLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VBAKIMDAIRESILISTESI.html">VBAKIMDAIRESILISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VBAKIMDAIRESITANITIMLISTESI.html">VBAKIMDAIRESITANITIMLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VBAKIMHIZMETLISTESI.html">VBAKIMHIZMETLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VBAKIMHIZMETTANITIMLISTESI.html">VBAKIMHIZMETTANITIMLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VBAKIMPERSONELLISTESI.html">VBAKIMPERSONELLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VBANKAHESAPGRUPLISTESI.html">VBANKAHESAPGRUPLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VBOYAGRUPLISTESI.html">VBOYAGRUPLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VBOYAHANEBOLUMLISTESI.html">VBOYAHANEBOLUMLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VCIRCIRLISTESI.html">VCIRCIRLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VCIRCIRTANITIMLISTESI.html">VCIRCIRTANITIMLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VDEGERTIPILISTESI.html">VDEGERTIPILISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VDEPARTMANLISTESI.html">VDEPARTMANLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VDEPOLISTESI.html">VDEPOLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VDEPOTANITIMLISTESI.html">VDEPOTANITIMLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VDESENGRUPLISTESI.html">VDESENGRUPLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VDESENICERIKLISTESI.html">VDESENICERIKLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VDESENISTASYONLISTESI.html">VDESENISTASYONLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VDESENISTEKGRUPLISTESI.html">VDESENISTEKGRUPLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VDESENISTEKTIPILISTESI.html">VDESENISTEKTIPILISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VDESENKATALOGLISTESI.html">VDESENKATALOGLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VDESENLISTESI.html">VDESENLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VDESENVARYANTKALITELISTESI.html">VDESENVARYANTKALITELISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VDESENVARYANTLISTESI.html">VDESENVARYANTLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VDISKLISTESI.html">VDISKLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VDISTAMIRCOZUMSEKLILISTESI.html">VDISTAMIRCOZUMSEKLILISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VDISTAMIRCOZUMSEKLITLISTESI.html">VDISTAMIRCOZUMSEKLITLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VDOKUMADEPOLISTESI.html">VDOKUMADEPOLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VDOKUMADESENITANITIMLISTESI.html">VDOKUMADESENITANITIMLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VDOKUMAHATATIPILISTESI.html">VDOKUMAHATATIPILISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VDOKUMAMAKINABOLUMLISTESI.html">VDOKUMAMAKINABOLUMLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VDOKUMAMAKINALISTESI.html">VDOKUMAMAKINALISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VDOKUMAMAKINATANITIMLISTESI.html">VDOKUMAMAKINATANITIMLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VDOKUMANTIPILISTESI.html">VDOKUMANTIPILISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VDOKUMAPERSONELLISTESI.html">VDOKUMAPERSONELLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VDOKUMARAFLISTESI.html">VDOKUMARAFLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VDOKUMASTOKTAKILOTLISTESI.html">VDOKUMASTOKTAKILOTLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VELYAFCINSILISTESI.html">VELYAFCINSILISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VELYAFMARKALISTESI.html">VELYAFMARKALISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VELYAFMARKATANITIMLISTESI.html">VELYAFMARKATANITIMLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VELYAFSINIFLISTESI.html">VELYAFSINIFLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VELYAFSINIFTANITIMLISTESI.html">VELYAFSINIFTANITIMLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VFIRMAGRUPLISTESI.html">VFIRMAGRUPLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VFIRMAKULLANICI.html">VFIRMAKULLANICI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VFIRMALISTESI.html">VFIRMALISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VFIRMALISTESIOZEL.html">VFIRMALISTESIOZEL</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VFIRMATANITIMLISTESI.html">VFIRMATANITIMLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VFIRMATANITIMLISTESIOZEL.html">VFIRMATANITIMLISTESIOZEL</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VGENELRAFLISTESI.html">VGENELRAFLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VGRAVURMAKINALISTESI.html">VGRAVURMAKINALISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VHAMGRUPLISTESI.html">VHAMGRUPLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VHAMHATATIPILISTESI.html">VHAMHATATIPILISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VHAMLISTESI.html">VHAMLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VHAMRENKLISTESI.html">VHAMRENKLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VHAMRENKTANITIMLISTESI.html">VHAMRENKTANITIMLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VHAMTANITIMLISTESI.html">VHAMTANITIMLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VHARCAMATIPIGRUPLISTESI.html">VHARCAMATIPIGRUPLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VHARMANCINSILISTESI.html">VHARMANCINSILISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VHATATIPILISTESI.html">VHATATIPILISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VHGDEPOLISTESI.html">VHGDEPOLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VHGORMEMAKINALISTESI.html">VHGORMEMAKINALISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VHGORMEMAKINATANITIMLISTESI.html">VHGORMEMAKINATANITIMLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VHGRAFLISTESI.html">VHGRAFLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VHGSIPARISDETAYLISTESI.html">VHGSIPARISDETAYLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VIADEICINUCIKISHAREKETLISTESI.html">VIADEICINUCIKISHAREKETLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VILAVEISLEMLERLISTESI.html">VILAVEISLEMLERLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VIPLIKCINSILISTESI.html">VIPLIKCINSILISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VIPLIKCINSITANITIMLISTESI.html">VIPLIKCINSITANITIMLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VIPLIKDEPOLISTESI.html">VIPLIKDEPOLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VIPLIKISLETMEGRUPLISTESI.html">VIPLIKISLETMEGRUPLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VIPLIKISLETMELISTESI.html">VIPLIKISLETMELISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VIPLIKLOTGRUBULISTESI.html">VIPLIKLOTGRUBULISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VIPLIKMAKINALISTESI.html">VIPLIKMAKINALISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VIPLIKMAKINATANITIMLISTESI.html">VIPLIKMAKINATANITIMLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VIPLIKPERSONELLISTESI.html">VIPLIKPERSONELLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VISTISNAKODLARI.html">VISTISNAKODLARI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VKALINLIKLISTESI.html">VKALINLIKLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VKALINLIKTANITIMLISTESI.html">VKALINLIKTANITIMLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VKALITELISTESI.html">VKALITELISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VKARISIKHARMANORANILISTESI.html">VKARISIKHARMANORANILISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VKAZANLISTESI.html">VKAZANLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VKESIMMASASILISTESI.html">VKESIMMASASILISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VKOLONLISTESI.html">VKOLONLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VKONIKCINSILISTESI.html">VKONIKCINSILISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VKONIKRENGILISTESI.html">VKONIKRENGILISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VKULLANICILISTESI.html">VKULLANICILISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VKUMASCINSILISTESI.html">VKUMASCINSILISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VKUMASCINSITANITIMLISTESI.html">VKUMASCINSITANITIMLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VLABGRUPLISTESI.html">VLABGRUPLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VLABRECETEATISRENKLISTESI.html">VLABRECETEATISRENKLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VLOGMAPPINGLISTESI.html">VLOGMAPPINGLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VLYCRATIPILISTESI.html">VLYCRATIPILISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VLYCRATIPITANITIMLISTESI.html">VLYCRATIPITANITIMLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VLYCRAURETICILISTESI.html">VLYCRAURETICILISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VLYCRAURETICITANITIMLISTESI.html">VLYCRAURETICITANITIMLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VMAILGRUPLISTESI.html">VMAILGRUPLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VMAKINABAKIMIELISTESI.html">VMAKINABAKIMIELISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VMAKINABAKIMIETANITIMLISTESI.html">VMAKINABAKIMIETANITIMLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VMAKINABAKIMTIPILISTESI.html">VMAKINABAKIMTIPILISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VMAKINABAKIMTIPITANITIMLISTESI.html">VMAKINABAKIMTIPITANITIMLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VMAKINABILGIRECETELISTESI.html">VMAKINABILGIRECETELISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VMAKINAGRUPLISTESI.html">VMAKINAGRUPLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VMAKINAIKONGRUPLISTESI.html">VMAKINAIKONGRUPLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VMAKINALISTESI.html">VMAKINALISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VMAKINAOTOMASYONGRUPLISTESI.html">VMAKINAOTOMASYONGRUPLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VMAKINAPLANLAMAGRUPLISTESI.html">VMAKINAPLANLAMAGRUPLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VMBBKOKLISTESI.html">VMBBKOKLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VMBBLISTESI.html">VMBBLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VMBBTANITIMLISTESI.html">VMBBTANITIMLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VMENSEILISTESI.html">VMENSEILISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VMENSEITANITIMLISTESI.html">VMENSEITANITIMLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VMODELGRUPLISTESI.html">VMODELGRUPLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VMODELLISTESI.html">VMODELLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VMODELURETIMISLEMTIPILISTESI.html">VMODELURETIMISLEMTIPILISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VMPLANLAMAGRUPPROSESLISTESI.html">VMPLANLAMAGRUPPROSESLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VODEMESEKLILISTESI.html">VODEMESEKLILISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VOLCULISTESI.html">VOLCULISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VORMECILISTESI.html">VORMECILISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VORMEDEPOLISTESI.html">VORMEDEPOLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VORMEMAKINABOLUMLISTESI.html">VORMEMAKINABOLUMLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VORMEMAKINALISTESI.html">VORMEMAKINALISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VORMEMAKINATANITIMLISTESI.html">VORMEMAKINATANITIMLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VORMEPERSONELLISTESI.html">VORMEPERSONELLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VORMERAFLISTESI.html">VORMERAFLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VOTOMATIKSARFLISTESI.html">VOTOMATIKSARFLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VOZELAPRELISTESI.html">VOZELAPRELISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VOZELLIKLISTESI.html">VOZELLIKLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VOZELLIKTANITIMLISTESI.html">VOZELLIKTANITIMLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VOZELTESTLISTESI.html">VOZELTESTLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VPARTIGRUPLISTESI.html">VPARTIGRUPLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VPERSONELLISTESI.html">VPERSONELLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VPERSONELTANITIMLISTESI.html">VPERSONELTANITIMLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VPROSESLISTESI.html">VPROSESLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VPROSESTANITIMLISTESI.html">VPROSESTANITIMLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VRAFGRUPLISTESI.html">VRAFGRUPLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VRAFLISTESI.html">VRAFLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VRAFLOKASYONHAREKETLISTESI.html">VRAFLOKASYONHAREKETLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VRAFLOKASYONTANITIMLISTESI.html">VRAFLOKASYONTANITIMLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VRAFTANITIMLISTESI.html">VRAFTANITIMLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VRECETEALTASAMALISTESI.html">VRECETEALTASAMALISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VRECETEASAMALISTESI.html">VRECETEASAMALISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VRECETEASAMASABLONLISTESI.html">VRECETEASAMASABLONLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VRECETEASAMASABLONTANLISTESI.html">VRECETEASAMASABLONTANLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VRECETEGRAFIKLISTESI.html">VRECETEGRAFIKLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VRECETEGRAFIKTANITIMLISTESI.html">VRECETEGRAFIKTANITIMLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VRECETELISTESI.html">VRECETELISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VRECETEONISLEMTIPI.html">VRECETEONISLEMTIPI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VRECETETALEPGRUPLISTESI.html">VRECETETALEPGRUPLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VRECETETURULISTESI.html">VRECETETURULISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VRENKDERINLIGI.html">VRENKDERINLIGI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VRENKLISTESI.html">VRENKLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VSABLONRENKLISTESI.html">VSABLONRENKLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VSEVKFIRMALISTESI.html">VSEVKFIRMALISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VSIPARISDETAYBEDENLISTESI.html">VSIPARISDETAYBEDENLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VSIPARISGRUPLISTESI.html">VSIPARISGRUPLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VSIPARISGRUPLISTESIALTGRUP.html">VSIPARISGRUPLISTESIALTGRUP</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VSIPARISPROSESLISTESI.html">VSIPARISPROSESLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VSIPARISPROSESTANITIMLISTESI.html">VSIPARISPROSESTANITIMLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VSOFORLISTESI.html">VSOFORLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VSTOKHAREKETGRUPLISTESI.html">VSTOKHAREKETGRUPLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VSTOKHAREKETMELANJKODULISTESI.html">VSTOKHAREKETMELANJKODULISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VSTOKURETICILISTESI.html">VSTOKURETICILISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VSTOKURETICITANITIMLISTESI.html">VSTOKURETICITANITIMLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VTABLOLISTESI.html">VTABLOLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VTAMIRDUZELTMETIPILISTESI.html">VTAMIRDUZELTMETIPILISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VTAMIRDUZELTMETIPITANITIMLISTE.html">VTAMIRDUZELTMETIPITANITIMLISTE</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VTAMIRTIPIGRUPLISTESI.html">VTAMIRTIPIGRUPLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VTANITIMURUNLISTESI.html">VTANITIMURUNLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VTESLIMSEKLILISTESI.html">VTESLIMSEKLILISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VTUMSIPARISGRUPLISTESI.html">VTUMSIPARISGRUPLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VUNITELISTESI.html">VUNITELISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VURETICILISTESI.html">VURETICILISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VURETICITANITIMLISTESI.html">VURETICITANITIMLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VURUNGRUPLISTESI.html">VURUNGRUPLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VURUNKATEGORILISTESI.html">VURUNKATEGORILISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VURUNLISTESI.html">VURUNLISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2"><A HREF="VURUNMARKALISTESI.html">VURUNMARKALISTESI</A></TD>
    <TD><P CLASS="Base2">&nbsp</TD>
  </TR>
</TABLE>
<DIV CLASS="footer"><BR><HR></DIV>
  <TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH=100%>
    <TR VALIGN="middle">
      <TD>&nbsp;&nbsp;&nbsp;&nbsp;</TD>
      <TD ALIGN="left" WIDTH="54px" NOWRAP>
        <A HREF="../Index.html"><IMG ALT="Previous topic" SRC="../Images/GoPrev.gif" BORDER="0"></A>
        <A HREF="../Index.html"><IMG ALT="Chapter index" SRC="../Images/GoIndex.gif" BORDER="0"></A>
        <A HREF="URUNRECETELISTESI.html"><IMG ALT="Next topic" SRC="../Images/GoNext.gif" BORDER="0"></A>
      </TD>
    </TR>
  </TABLE>
<P CLASS="Base">&nbsp;</P>
</BODY></HTML>