<HTML>
<HEAD>
<TITLE>VDOKUMAMAKINATANITIMLISTESI</TITLE>
<META content="text/html; charset=utf-8" http-equiv=Content-Type>
<LINK HREF="../IBEHTMLDoc.css" type=text/css rel=STYLESHEET>
 
<xml>
<IBEHelp:Attr Name="ItemOrder" Value="40800"/>
</xml>
 
</HEAD>
<BODY>
<DIV ID="nsbanner">
  <DIV ID="bannerrow1">
    <TABLE CLASS="bannerparthead" CELLSPACING=0>
      <TR ID="hdr" VALIGN="middle">
        <TD CLASS="runninghead">"E:\Egemen\EB01\Dataserver\DATA\FERGANAGLOBAL\EB01DATA.GDB". Views</TD>
        <TD ALIGN="left" WIDTH="54px" NOWRAP>
          <A HREF="VDOKUMAMAKINALISTESI.html"><IMG ALT="Previous topic" SRC="../Images/GoPrev.gif" BORDER="0"></A>
          <A HREF="../Index.html"><IMG ALT="Chapter index" SRC="../Images/GoIndex.gif" BORDER="0"></A>
          <A HREF="VDOKUMANTIPILISTESI.html"><IMG ALT="Next topic" SRC="../Images/GoNext.gif" BORDER="0"></A>
        </TD>
      </TR>
    </TABLE>
  </DIV>
  <DIV ID="TitleRow">
    <P CLASS="dtH1">VDOKUMAMAKINATANITIMLISTESI</P>
  </DIV>
 </DIV>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Description</P>
<P CLASS="Base"><I>(There is no description for view VDOKUMAMAKINATANITIMLISTESI)</I></P>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Fields</P>
<TABLE CLASS="dtArg" CELLSPACING="0">
  <TH WIDTH="1%"><P CLASS="Base2"><B>Field</B></P>
  <TH WIDTH="20%"><P CLASS="Base2"><B>Type</B></P>
  <TH WIDTH="40%"><P CLASS="Base2"><B>Description</B></P>
  <TR>
    <TD><P CLASS="Base2">DOKUMAMAKINAID</P></TD>
    <TD><P CLASS="Base2">VARCHAR(10)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">ADI</P></TD>
    <TD><P CLASS="Base2">VARCHAR(40)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">MAKINAGRUPID</P></TD>
    <TD><P CLASS="Base2">VARCHAR(4)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">MARKASI</P></TD>
    <TD><P CLASS="Base2">VARCHAR(30)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">MODELI</P></TD>
    <TD><P CLASS="Base2">VARCHAR(30)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">YAPIMYILI</P></TD>
    <TD><P CLASS="Base2">INTEGER</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">DOKUMAMAKINATIPIADI</P></TD>
    <TD><P CLASS="Base2">VARCHAR(20)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">UNITEADI</P></TD>
    <TD><P CLASS="Base2">VARCHAR(30)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">OTOMASYONADAHIL</P></TD>
    <TD><P CLASS="Base2">SMALLINT</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">MASTERNO</P></TD>
    <TD><P CLASS="Base2">INTEGER</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">KANALNO</P></TD>
    <TD><P CLASS="Base2">INTEGER</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
</TABLE>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Triggers</P>
<P CLASS="Base"><I>(There are no triggers for view VDOKUMAMAKINATANITIMLISTESI)</I></P>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Definition</P>
<P CLASS="Base"><span class="DDLCode">
<code><pre>
<b>CREATE</b><b> </b><b>VIEW</b><b> </b><font color="# 080 0"><u>VDOKUMAMAKINATANITIMLISTESI</u></font><b>(</b>
<b>    </b>DOKUMAMAKINAID<b>,</b>
<b>    </b>ADI<b>,</b>
<b>    </b>MAKINAGRUPID<b>,</b>
<b>    </b>MARKASI<b>,</b>
<b>    </b>MODELI<b>,</b>
<b>    </b>YAPIMYILI<b>,</b>
<b>    </b>DOKUMAMAKINATIPIADI<b>,</b>
<b>    </b>UNITEADI<b>,</b>
<b>    </b>OTOMASYONADAHIL<b>,</b>
<b>    </b>MASTERNO<b>,</b>
<b>    </b>KANALNO<b>)</b>
<b>AS</b>
<b>Select</b><b> </b><font color="# 080 0"><u>DokumaMakina</u></font><b>.</b>DokumaMakinaId<b>,</b><b> </b><font color="# 080 0"><u>DokumaMakina</u></font><b>.</b>Adi<b>,</b><b> </b><font color="# 080 0"><u>DokumaMakina</u></font><b>.</b>MakinaGrupId<b>,</b>
<b>            </b><font color="# 080 0"><u>DokumaMakina</u></font><b>.</b>Markasi<b>,</b><b> </b><font color="# 080 0"><u>DokumaMakina</u></font><b>.</b>Modeli<b>,</b><b> </b><font color="# 080 0"><u>DokumaMakina</u></font><b>.</b>YapimYili<b>,</b><b> </b><font color="# 080 0"><u>DokumaMakinaTipi</u></font><b>.</b>Adi<b> </b>DokumaMakinaTipiAdi<b>,</b>
<b>            </b><font color="# 080 0"><u>Unite</u></font><b>.</b>Adi<b> </b>UniteAdi<b>,</b><b> </b><font color="# 080 0"><u>DokumaMakina</u></font><b>.</b>OtomasyonaDahil<b>,</b><b> </b><font color="# 080 0"><u>DokumaMakina</u></font><b>.</b>MasterNo<b>,</b><b> </b><font color="# 080 0"><u>DokumaMakina</u></font><b>.</b>KanalNo<b> </b><b>from</b><b> </b><font color="# 080 0"><u>DokumaMakina</u></font>
<b>     </b><b>left</b><b> </b><b>join</b><b> </b><font color="# 080 0"><u>DokumaMakinaTipi</u></font><b> </b><b>on</b><b> </b><font color="# 080 0"><u>DokumaMakinaTipi</u></font><b>.</b>DokumaMakinaTipiId<b> </b><b>=</b><b> </b><font color="# 080 0"><u>DokumaMakina</u></font><b>.</b>DokumaMakinaTipiId
<b>     </b><b>left</b><b> </b><b>join</b><b> </b><font color="# 080 0"><u>Unite</u></font><b> </b><b>on</b><b> </b><font color="# 080 0"><u>Unite</u></font><b>.</b>UniteId<b> </b><b>=</b><b> </b><font color="# 080 0"><u>DokumaMakina</u></font><b>.</b>UniteId
<b>;</b>

</pre></code>
</span></P>
<P CLASS="Base">&nbsp;</P>
<DIV CLASS="footer"><BR><HR></DIV>
  <TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH=100%>
    <TR VALIGN="middle">
      <TD>&nbsp;&nbsp;&nbsp;&nbsp;</TD>
      <TD ALIGN="left" WIDTH="54px" NOWRAP>
        <A HREF="VDOKUMAMAKINALISTESI.html"><IMG ALT="Previous topic" SRC="../Images/GoPrev.gif" BORDER="0"></A>
        <A HREF="../Index.html"><IMG ALT="Chapter index" SRC="../Images/GoIndex.gif" BORDER="0"></A>
        <A HREF="VDOKUMANTIPILISTESI.html"><IMG ALT="Next topic" SRC="../Images/GoNext.gif" BORDER="0"></A>
      </TD>
    </TR>
  </TABLE>
<P CLASS="Base">&nbsp;</P>
</BODY></HTML>