<HTML>
<HEAD>
<TITLE>VHAMTANITIMLISTESI</TITLE>
<META content="text/html; charset=utf-8" http-equiv=Content-Type>
<LINK HREF="../IBEHTMLDoc.css" type=text/css rel=STYLESHEET>
 
<xml>
<IBEHelp:Attr Name="ItemOrder" Value="63800"/>
</xml>
 
</HEAD>
<BODY>
<DIV ID="nsbanner">
  <DIV ID="bannerrow1">
    <TABLE CLASS="bannerparthead" CELLSPACING=0>
      <TR ID="hdr" VALIGN="middle">
        <TD CLASS="runninghead">"E:\Egemen\EB01\Dataserver\DATA\FERGANAGLOBAL\EB01DATA.GDB". Views</TD>
        <TD ALIGN="left" WIDTH="54px" NOWRAP>
          <A HREF="VHAMRENKTANITIMLISTESI.html"><IMG ALT="Previous topic" SRC="../Images/GoPrev.gif" BORDER="0"></A>
          <A HREF="../Index.html"><IMG ALT="Chapter index" SRC="../Images/GoIndex.gif" BORDER="0"></A>
          <A HREF="VHARCAMATIPIGRUPLISTESI.html"><IMG ALT="Next topic" SRC="../Images/GoNext.gif" BORDER="0"></A>
        </TD>
      </TR>
    </TABLE>
  </DIV>
  <DIV ID="TitleRow">
    <P CLASS="dtH1">VHAMTANITIMLISTESI</P>
  </DIV>
 </DIV>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Description</P>
<P CLASS="Base"><I>(There is no description for view VHAMTANITIMLISTESI)</I></P>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Fields</P>
<TABLE CLASS="dtArg" CELLSPACING="0">
  <TH WIDTH="1%"><P CLASS="Base2"><B>Field</B></P>
  <TH WIDTH="20%"><P CLASS="Base2"><B>Type</B></P>
  <TH WIDTH="40%"><P CLASS="Base2"><B>Description</B></P>
  <TR>
    <TD><P CLASS="Base2">HAMID</P></TD>
    <TD><P CLASS="Base2">INTEGER</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">ADI</P></TD>
    <TD><P CLASS="Base2">VARCHAR(250)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">ADI2</P></TD>
    <TD><P CLASS="Base2">VARCHAR(255)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">ADI3</P></TD>
    <TD><P CLASS="Base2">VARCHAR(255)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">ADI4</P></TD>
    <TD><P CLASS="Base2">VARCHAR(255)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">REFERANSKODU</P></TD>
    <TD><P CLASS="Base2">VARCHAR(30)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">HAMTIPIID</P></TD>
    <TD><P CLASS="Base2">INTEGER</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">HAMTIPIADI</P></TD>
    <TD><P CLASS="Base2">VARCHAR(20)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">KUMASCINSIADI</P></TD>
    <TD><P CLASS="Base2">VARCHAR(40)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">KAPALI</P></TD>
    <TD><P CLASS="Base2">SMALLINT</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">PUS</P></TD>
    <TD><P CLASS="Base2">INTEGER</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">FEINE</P></TD>
    <TD><P CLASS="Base2">INTEGER</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">GRAMAJ</P></TD>
    <TD><P CLASS="Base2">INTEGER</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">TUPACIKENMAYLI</P></TD>
    <TD><P CLASS="Base2">INTEGER</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">IPLIKBOYU1</P></TD>
    <TD><P CLASS="Base2">VARCHAR(20)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">IPLIKBOYU2</P></TD>
    <TD><P CLASS="Base2">VARCHAR(20)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">IPLIKBOYU3</P></TD>
    <TD><P CLASS="Base2">VARCHAR(20)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">IPLIKBOYU4</P></TD>
    <TD><P CLASS="Base2">VARCHAR(20)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">SATISTRANSFERKODU</P></TD>
    <TD><P CLASS="Base2">VARCHAR(55)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">INSERTKULLANICIADI</P></TD>
    <TD><P CLASS="Base2">VARCHAR(40)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">INSERTTARIHI</P></TD>
    <TD><P CLASS="Base2">TIMESTAMP</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">KULLANICIADI</P></TD>
    <TD><P CLASS="Base2">VARCHAR(40)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">DEGISIMTARIHI</P></TD>
    <TD><P CLASS="Base2">TIMESTAMP</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">DOKUMADESENIADI</P></TD>
    <TD><P CLASS="Base2">VARCHAR(20)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">TRANSFERKODUFASON</P></TD>
    <TD><P CLASS="Base2">VARCHAR(55)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
</TABLE>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Triggers</P>
<P CLASS="Base"><I>(There are no triggers for view VHAMTANITIMLISTESI)</I></P>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Definition</P>
<P CLASS="Base"><span class="DDLCode">
<code><pre>
<b>CREATE</b><b> </b><b>VIEW</b><b> </b><font color="# 080 0"><u>VHAMTANITIMLISTESI</u></font><b>(</b>
<b>    </b>HAMID<b>,</b>
<b>    </b>ADI<b>,</b>
<b>    </b>ADI2<b>,</b>
<b>    </b>ADI3<b>,</b>
<b>    </b>ADI4<b>,</b>
<b>    </b>REFERANSKODU<b>,</b>
<b>    </b>HAMTIPIID<b>,</b>
<b>    </b>HAMTIPIADI<b>,</b>
<b>    </b>KUMASCINSIADI<b>,</b>
<b>    </b>KAPALI<b>,</b>
<b>    </b>PUS<b>,</b>
<b>    </b>FEINE<b>,</b>
<b>    </b>GRAMAJ<b>,</b>
<b>    </b>TUPACIKENMAYLI<b>,</b>
<b>    </b>IPLIKBOYU1<b>,</b>
<b>    </b>IPLIKBOYU2<b>,</b>
<b>    </b>IPLIKBOYU3<b>,</b>
<b>    </b>IPLIKBOYU4<b>,</b>
<b>    </b>SATISTRANSFERKODU<b>,</b>
<b>    </b>INSERTKULLANICIADI<b>,</b>
<b>    </b>INSERTTARIHI<b>,</b>
<b>    </b>KULLANICIADI<b>,</b>
<b>    </b>DEGISIMTARIHI<b>,</b>
<b>    </b>DOKUMADESENIADI<b>,</b>
<b>    </b>TRANSFERKODUFASON<b>)</b>
<b>AS</b>
<b>Select</b><b> </b><font color="# 080 0"><u>Ham</u></font><b>.</b>HamId<b>,</b><b> </b><font color="# 080 0"><u>Ham</u></font><b>.</b>Adi<b>,</b><b> </b><font color="# 080 0"><u>Ham</u></font><b>.</b>Adi2<b>,</b><b> </b><font color="# 080 0"><u>Ham</u></font><b>.</b>Adi3<b>,</b><b> </b><font color="# 080 0"><u>Ham</u></font><b>.</b>Adi4<b>,</b><b> </b><font color="# 080 0"><u>Ham</u></font><b>.</b>ReferansKodu<b>,</b><b> </b><font color="# 080 0"><u>Ham</u></font><b>.</b>HamTipiId<b>,</b><b> </b><font color="# 080 0"><u>HamTipi</u></font><b>.</b>Adi<b>,</b><b> </b><font color="# 080 0"><u>KumasCinsi</u></font><b>.</b>Adi<b>,</b><b> </b><font color="# 080 0"><u>Ham</u></font><b>.</b>Kapali<b>,</b>
<b>            </b><font color="# 080 0"><u>Ham</u></font><b>.</b>Pus<b>,</b><b> </b><font color="# 080 0"><u>Ham</u></font><b>.</b>Feine<b>,</b><b> </b><font color="# 080 0"><u>Ham</u></font><b>.</b>Gramaj<b>,</b><b> </b><font color="# 080 0"><u>Ham</u></font><b>.</b>TupAcikEnMayli<b>,</b><b> </b><font color="# 080 0"><u>Ham</u></font><b>.</b>IplikBoyu1<b>,</b><b> </b><font color="# 080 0"><u>Ham</u></font><b>.</b>IplikBoyu2<b>,</b><b> </b><font color="# 080 0"><u>Ham</u></font><b>.</b>IplikBoyu3<b>,</b><b> </b><font color="# 080 0"><u>Ham</u></font><b>.</b>IplikBoyu4<b>,</b><b> </b><font color="# 080 0"><u>Ham</u></font><b>.</b>SatisTransferKodu<b>,</b>
<b>            </b>IK<b>.</b>Adi<b>,</b><b> </b><font color="# 080 0"><u>Ham</u></font><b>.</b>InsertTarihi<b>,</b><b> </b>SK<b>.</b>Adi<b>,</b><b> </b><font color="# 080 0"><u>Ham</u></font><b>.</b>DegisimTarihi<b>,</b><b> </b><font color="# 080 0"><u>DokumaDeseni</u></font><b>.</b>Adi<b> </b>DokumaDeseniAdi<b>,</b><b> </b><font color="# 080 0"><u>Ham</u></font><b>.</b>FasonTransferKodu<b> </b><b>from</b><b> </b><font color="# 080 0"><u>Ham</u></font>
<b>     </b><b>left</b><b> </b><b>join</b><b> </b><font color="# 080 0"><u>HamTipi</u></font><b> </b><b>on</b><b> </b><font color="# 080 0"><u>HamTipi</u></font><b>.</b>HamTipiId<b> </b><b>=</b><b> </b><font color="# 080 0"><u>Ham</u></font><b>.</b>HamTipiId
<b>     </b><b>left</b><b> </b><b>join</b><b> </b><font color="# 080 0"><u>KumasCinsi</u></font><b> </b><b>on</b><b> </b><font color="# 080 0"><u>KumasCinsi</u></font><b>.</b>KumasCinsiId<b> </b><b>=</b><b> </b><font color="# 080 0"><u>Ham</u></font><b>.</b>KumasCinsiId
<b>     </b><b>left</b><b> </b><b>join</b><b> </b><font color="# 080 0"><u>DokumaDeseni</u></font><b> </b><b>on</b><b> </b><font color="# 080 0"><u>DokumaDeseni</u></font><b>.</b>DokumaDeseniId<b> </b><b>=</b><b> </b><font color="# 080 0"><u>Ham</u></font><b>.</b>DokumaDeseniId
<b>     </b><b>left</b><b> </b><b>join</b><b> </b><font color="# 080 0"><u>Kullanici</u></font><b> </b>IK<b> </b><b>on</b><b> </b>IK<b>.</b>KullaniciId<b>  </b><b>=</b><b> </b><font color="# 080 0"><u>Ham</u></font><b>.</b>InsertKullaniciId
<b>     </b><b>left</b><b> </b><b>join</b><b> </b><font color="# 080 0"><u>Kullanici</u></font><b> </b>SK<b> </b><b>on</b><b> </b>SK<b>.</b>KullaniciId<b>  </b><b>=</b><b> </b><font color="# 080 0"><u>Ham</u></font><b>.</b>KullaniciId
<b>;</b>

</pre></code>
</span></P>
<P CLASS="Base">&nbsp;</P>
<DIV CLASS="footer"><BR><HR></DIV>
  <TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH=100%>
    <TR VALIGN="middle">
      <TD>&nbsp;&nbsp;&nbsp;&nbsp;</TD>
      <TD ALIGN="left" WIDTH="54px" NOWRAP>
        <A HREF="VHAMRENKTANITIMLISTESI.html"><IMG ALT="Previous topic" SRC="../Images/GoPrev.gif" BORDER="0"></A>
        <A HREF="../Index.html"><IMG ALT="Chapter index" SRC="../Images/GoIndex.gif" BORDER="0"></A>
        <A HREF="VHARCAMATIPIGRUPLISTESI.html"><IMG ALT="Next topic" SRC="../Images/GoNext.gif" BORDER="0"></A>
      </TD>
    </TR>
  </TABLE>
<P CLASS="Base">&nbsp;</P>
</BODY></HTML>