<HTML>
<HEAD>
<TITLE>VRAFLOKASYONHAREKETLISTESI</TITLE>
<META content="text/html; charset=utf-8" http-equiv=Content-Type>
<LINK HREF="../IBEHTMLDoc.css" type=text/css rel=STYLESHEET>
 
<xml>
<IBEHelp:Attr Name="ItemOrder" Value="144800"/>
</xml>
 
</HEAD>
<BODY>
<DIV ID="nsbanner">
  <DIV ID="bannerrow1">
    <TABLE CLASS="bannerparthead" CELLSPACING=0>
      <TR ID="hdr" VALIGN="middle">
        <TD CLASS="runninghead">"E:\Egemen\EB01\Dataserver\DATA\FERGANAGLOBAL\EB01DATA.GDB". Views</TD>
        <TD ALIGN="left" WIDTH="54px" NOWRAP>
          <A HREF="VRAFLISTESI.html"><IMG ALT="Previous topic" SRC="../Images/GoPrev.gif" BORDER="0"></A>
          <A HREF="../Index.html"><IMG ALT="Chapter index" SRC="../Images/GoIndex.gif" BORDER="0"></A>
          <A HREF="VRAFLOKASYONTANITIMLISTESI.html"><IMG ALT="Next topic" SRC="../Images/GoNext.gif" BORDER="0"></A>
        </TD>
      </TR>
    </TABLE>
  </DIV>
  <DIV ID="TitleRow">
    <P CLASS="dtH1">VRAFLOKASYONHAREKETLISTESI</P>
  </DIV>
 </DIV>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Description</P>
<P CLASS="Base"><I>(There is no description for view VRAFLOKASYONHAREKETLISTESI)</I></P>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Fields</P>
<TABLE CLASS="dtArg" CELLSPACING="0">
  <TH WIDTH="1%"><P CLASS="Base2"><B>Field</B></P>
  <TH WIDTH="20%"><P CLASS="Base2"><B>Type</B></P>
  <TH WIDTH="40%"><P CLASS="Base2"><B>Description</B></P>
  <TR>
    <TD><P CLASS="Base2">RAFLOKASYONHAREKETID</P></TD>
    <TD><P CLASS="Base2">INTEGER</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">RAFID</P></TD>
    <TD><P CLASS="Base2">VARCHAR(10)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">RAFADI</P></TD>
    <TD><P CLASS="Base2">VARCHAR(30)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">RAFLOKASYONADI</P></TD>
    <TD><P CLASS="Base2">VARCHAR(50)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">INSERTKULLANICIADI</P></TD>
    <TD><P CLASS="Base2">VARCHAR(40)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">INSERTTARIHI</P></TD>
    <TD><P CLASS="Base2">TIMESTAMP</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
</TABLE>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Triggers</P>
<P CLASS="Base"><I>(There are no triggers for view VRAFLOKASYONHAREKETLISTESI)</I></P>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Definition</P>
<P CLASS="Base"><span class="DDLCode">
<code><pre>
<b>CREATE</b><b> </b><b>VIEW</b><b> </b><font color="# 080 0"><u>VRAFLOKASYONHAREKETLISTESI</u></font><b>(</b>
<b>    </b>RAFLOKASYONHAREKETID<b>,</b>
<b>    </b>RAFID<b>,</b>
<b>    </b>RAFADI<b>,</b>
<b>    </b>RAFLOKASYONADI<b>,</b>
<b>    </b>INSERTKULLANICIADI<b>,</b>
<b>    </b>INSERTTARIHI<b>)</b>
<b>AS</b>
<b>Select</b><b> </b><font color="# 080 0"><u>RafLokasyonHareket</u></font><b>.</b>RafLokasyonHareketId<b>,</b><b> </b><font color="# 080 0"><u>Raf</u></font><b>.</b>RafId<b>,</b><b> </b><font color="# 080 0"><u>Raf</u></font><b>.</b>Adi<b>,</b><b> </b><font color="# 080 0"><u>RafLokasyon</u></font><b>.</b>Adi<b>,</b><b> </b><font color="# 080 0"><u>Kullanici</u></font><b>.</b>Adi<b>,</b><b> </b><font color="# 080 0"><u>RafLokasyonHareket</u></font><b>.</b>InsertTarihi<b> </b><b>From</b><b> </b><font color="# 080 0"><u>RafLokasyonHareket</u></font>
<b>Left</b><b> </b><b>Join</b><b> </b><font color="# 080 0"><u>Raf</u></font><b> </b><b>on</b><b> </b><font color="# 080 0"><u>RafLokasyonHareket</u></font><b>.</b>RafId<b> </b><b>=</b><b> </b><font color="# 080 0"><u>Raf</u></font><b>.</b>RafId
<b>Left</b><b> </b><b>Join</b><b> </b><font color="# 080 0"><u>RafLokasyon</u></font><b> </b><b>on</b><b> </b><font color="# 080 0"><u>RafLokasyon</u></font><b>.</b>RafLokasyonId<b> </b><b>=</b><b> </b><font color="# 080 0"><u>RafLokasyonHareket</u></font><b>.</b>RafLokasyonId
<b>Left</b><b> </b><b>Join</b><b> </b><font color="# 080 0"><u>Kullanici</u></font><b> </b><b>on</b><b> </b><font color="# 080 0"><u>Kullanici</u></font><b>.</b>KullaniciId<b>  </b><b>=</b><b> </b><font color="# 080 0"><u>RafLokasyonHareket</u></font><b>.</b>InsertKullaniciId
<b>Order</b><b> </b><b>By</b><b> </b><font color="# 080 0"><u>RafLokasyonHareket</u></font><b>.</b>RafId<b> </b><b>Asc</b><b>,</b><b> </b><font color="# 080 0"><u>RafLokasyonHareket</u></font><b>.</b>InsertTarihi<b> </b><b>Desc</b>
<b>;</b>

</pre></code>
</span></P>
<P CLASS="Base">&nbsp;</P>
<DIV CLASS="footer"><BR><HR></DIV>
  <TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH=100%>
    <TR VALIGN="middle">
      <TD>&nbsp;&nbsp;&nbsp;&nbsp;</TD>
      <TD ALIGN="left" WIDTH="54px" NOWRAP>
        <A HREF="VRAFLISTESI.html"><IMG ALT="Previous topic" SRC="../Images/GoPrev.gif" BORDER="0"></A>
        <A HREF="../Index.html"><IMG ALT="Chapter index" SRC="../Images/GoIndex.gif" BORDER="0"></A>
        <A HREF="VRAFLOKASYONTANITIMLISTESI.html"><IMG ALT="Next topic" SRC="../Images/GoNext.gif" BORDER="0"></A>
      </TD>
    </TR>
  </TABLE>
<P CLASS="Base">&nbsp;</P>
</BODY></HTML>