<HTML>
<HEAD>
<TITLE>VURUNLISTESI</TITLE>
<META content="text/html; charset=utf-8" http-equiv=Content-Type>
<LINK HREF="../IBEHTMLDoc.css" type=text/css rel=STYLESHEET>
 
<xml>
<IBEHelp:Attr Name="ItemOrder" Value="183800"/>
</xml>
 
</HEAD>
<BODY>
<DIV ID="nsbanner">
  <DIV ID="bannerrow1">
    <TABLE CLASS="bannerparthead" CELLSPACING=0>
      <TR ID="hdr" VALIGN="middle">
        <TD CLASS="runninghead">"E:\Egemen\EB01\Dataserver\DATA\FERGANAGLOBAL\EB01DATA.GDB". Views</TD>
        <TD ALIGN="left" WIDTH="54px" NOWRAP>
          <A HREF="VURUNKATEGORILISTESI.html"><IMG ALT="Previous topic" SRC="../Images/GoPrev.gif" BORDER="0"></A>
          <A HREF="../Index.html"><IMG ALT="Chapter index" SRC="../Images/GoIndex.gif" BORDER="0"></A>
          <A HREF="VURUNMARKALISTESI.html"><IMG ALT="Next topic" SRC="../Images/GoNext.gif" BORDER="0"></A>
        </TD>
      </TR>
    </TABLE>
  </DIV>
  <DIV ID="TitleRow">
    <P CLASS="dtH1">VURUNLISTESI</P>
  </DIV>
 </DIV>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Description</P>
<P CLASS="Base"><I>(There is no description for view VURUNLISTESI)</I></P>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Fields</P>
<TABLE CLASS="dtArg" CELLSPACING="0">
  <TH WIDTH="1%"><P CLASS="Base2"><B>Field</B></P>
  <TH WIDTH="20%"><P CLASS="Base2"><B>Type</B></P>
  <TH WIDTH="40%"><P CLASS="Base2"><B>Description</B></P>
  <TR>
    <TD><P CLASS="Base2">URUNID</P></TD>
    <TD><P CLASS="Base2">VARCHAR(20)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">ADI</P></TD>
    <TD><P CLASS="Base2">VARCHAR(80)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">ADI2</P></TD>
    <TD><P CLASS="Base2">VARCHAR(80)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">URUNGRUP1</P></TD>
    <TD><P CLASS="Base2">VARCHAR(4)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">RAF</P></TD>
    <TD><P CLASS="Base2">VARCHAR(15)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">DEPOID</P></TD>
    <TD><P CLASS="Base2">VARCHAR(10)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">URUNTIPIID</P></TD>
    <TD><P CLASS="Base2">INTEGER</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">KIMYASALTIPIID</P></TD>
    <TD><P CLASS="Base2">INTEGER</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">KIMYASALTIPIADI</P></TD>
    <TD><P CLASS="Base2">VARCHAR(20)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">STOKURETICIADI</P></TD>
    <TD><P CLASS="Base2">VARCHAR(250)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">URETICIURUNKODU</P></TD>
    <TD><P CLASS="Base2">VARCHAR(100)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">PARCANO</P></TD>
    <TD><P CLASS="Base2">VARCHAR(255)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">ANAURUNID</P></TD>
    <TD><P CLASS="Base2">VARCHAR(20)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">KATALOGNO</P></TD>
    <TD><P CLASS="Base2">VARCHAR(255)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">MODELID</P></TD>
    <TD><P CLASS="Base2">VARCHAR(20)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">MODELPARCAID</P></TD>
    <TD><P CLASS="Base2">INTEGER</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">TARTIMYAPILACAK</P></TD>
    <TD><P CLASS="Base2">SMALLINT</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">KULLANILDIGIFIRMAID</P></TD>
    <TD><P CLASS="Base2">VARCHAR(20)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
  <TR>
    <TD><P CLASS="Base2">KULLANILDIGIFIRMAADI</P></TD>
    <TD><P CLASS="Base2">VARCHAR(100)</P></TD>
    <TD><P CLASS="Base2">&nbsp;</P></TD>
  </TR>
</TABLE>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Triggers</P>
<P CLASS="Base"><I>(There are no triggers for view VURUNLISTESI)</I></P>
<P CLASS="Base">&nbsp;</P>
<P CLASS="Header1">Definition</P>
<P CLASS="Base"><span class="DDLCode">
<code><pre>
<b>CREATE</b><b> </b><b>VIEW</b><b> </b><font color="# 080 0"><u>VURUNLISTESI</u></font><b>(</b>
<b>    </b>URUNID<b>,</b>
<b>    </b>ADI<b>,</b>
<b>    </b>ADI2<b>,</b>
<b>    </b>URUNGRUP1<b>,</b>
<b>    </b><font color="# 080 0"><u>RAF</u></font><b>,</b>
<b>    </b>DEPOID<b>,</b>
<b>    </b>URUNTIPIID<b>,</b>
<b>    </b>KIMYASALTIPIID<b>,</b>
<b>    </b>KIMYASALTIPIADI<b>,</b>
<b>    </b>STOKURETICIADI<b>,</b>
<b>    </b>URETICIURUNKODU<b>,</b>
<b>    </b>PARCANO<b>,</b>
<b>    </b>ANAURUNID<b>,</b>
<b>    </b>KATALOGNO<b>,</b>
<b>    </b>MODELID<b>,</b>
<b>    </b>MODELPARCAID<b>,</b>
<b>    </b>TARTIMYAPILACAK<b>,</b>
<b>    </b>KULLANILDIGIFIRMAID<b>,</b>
<b>    </b>KULLANILDIGIFIRMAADI<b>)</b>
<b>AS</b>
<b>Select</b><b> </b><font color="# 080 0"><u>Urun</u></font><b>.</b>UrunId<b>,</b><b> </b><font color="# 080 0"><u>Urun</u></font><b>.</b>Adi<b>,</b><b> </b><font color="# 080 0"><u>Urun</u></font><b>.</b>Adi2<b>,</b><b> </b><font color="# 080 0"><u>Urun</u></font><b>.</b>urunGrup1<b>,</b><b> </b><font color="# 080 0"><u>Urun</u></font><b>.</b><font color="# 080 0"><u>Raf</u></font><b>,</b><b> </b><font color="# 080 0"><u>Urun</u></font><b>.</b>MutfakDepoNo<b>,</b><b> </b><font color="# 080 0"><u>Urun</u></font><b>.</b>UrunTipiId<b>,</b><b> </b><font color="# 080 0"><u>Urun</u></font><b>.</b>KimyasalTipiID<b>,</b><b> </b><font color="# 080 0"><u>KimyasalTipi</u></font><b>.</b>Adi<b>,</b>
<b>  </b><font color="# 080 0"><u>StokUretici</u></font><b>.</b>Adi<b>,</b><b> </b>UreticiUrunKodu<b>,</b><b> </b>ParcaNo<b>,</b><b> </b>AnaUrunID<b>,</b><b> </b>KatalogNo<b>,</b><b> </b><font color="# 080 0"><u>Model</u></font><b>.</b>ModelID<b>,</b><b> </b>ModelParcaId<b>,</b><b> </b><font color="# 080 0"><u>Urun</u></font><b>.</b>TartimYapilacak<b>,</b><b> </b><font color="# 080 0"><u>Urun</u></font><b>.</b>KullanildigiFirmaId<b>,</b><b> </b><font color="# 080 0"><u>Firma</u></font><b>.</b>Adi<b> </b><b>from</b><b> </b><font color="# 080 0"><u>Urun</u></font>
<b>  </b><b>left</b><b> </b><b>join</b><b> </b><font color="# 080 0"><u>KimyasalTipi</u></font><b> </b><b>on</b><b> </b><font color="# 080 0"><u>KimyasalTipi</u></font><b>.</b>KimyasalTipiID<b> </b><b>=</b><b> </b><font color="# 080 0"><u>Urun</u></font><b>.</b>KimyasalTipiId
<b>  </b><b>left</b><b> </b><b>join</b><b> </b><font color="# 080 0"><u>StokUretici</u></font><b> </b><b>on</b><b> </b><font color="# 080 0"><u>StokUretici</u></font><b>.</b>StokUreticiID<b> </b><b>=</b><b> </b><font color="# 080 0"><u>Urun</u></font><b>.</b>StokUreticiID
<b>  </b><b>left</b><b> </b><b>join</b><b> </b><font color="# 080 0"><u>Model</u></font><b> </b><b>on</b><b> </b><font color="# 080 0"><u>Model</u></font><b>.</b>ModelKayitId<b> </b><b>=</b><b> </b><font color="# 080 0"><u>Urun</u></font><b>.</b>ModelKayitId
<b>  </b><b>left</b><b> </b><b>join</b><b> </b><font color="# 080 0"><u>Firma</u></font><b> </b><b>on</b><b> </b><font color="# 080 0"><u>Firma</u></font><b>.</b>FirmaId<b> </b><b>=</b><b> </b><font color="# 080 0"><u>Urun</u></font><b>.</b>KullanildigiFirmaId
<b>  </b><b>where</b><b> </b><font color="# 080 0"><u>Urun</u></font><b>.</b>Kapali<b> </b><b>=</b><b> </b>0
<b>;</b>

</pre></code>
</span></P>
<P CLASS="Base">&nbsp;</P>
<DIV CLASS="footer"><BR><HR></DIV>
  <TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH=100%>
    <TR VALIGN="middle">
      <TD>&nbsp;&nbsp;&nbsp;&nbsp;</TD>
      <TD ALIGN="left" WIDTH="54px" NOWRAP>
        <A HREF="VURUNKATEGORILISTESI.html"><IMG ALT="Previous topic" SRC="../Images/GoPrev.gif" BORDER="0"></A>
        <A HREF="../Index.html"><IMG ALT="Chapter index" SRC="../Images/GoIndex.gif" BORDER="0"></A>
        <A HREF="VURUNMARKALISTESI.html"><IMG ALT="Next topic" SRC="../Images/GoNext.gif" BORDER="0"></A>
      </TD>
    </TR>
  </TABLE>
<P CLASS="Base">&nbsp;</P>
</BODY></HTML>